@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    font-family:'Oxygen', sans-serif;
}

html {
    scroll-behavior: smooth;
    min-width: 500px; 
}

body {
    background-color: #20252d;
}

.contenedor {
    max-width: 1100px;
    margin: auto
    
}

.inicio {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center ;
    position: relative;
    padding: 40px 0;
}

.inicio h3 {
    padding: 5px 0;
}

.inicio h1 {
    color: #2acf7f;
    font-size: 40px;
    padding: 5px 0;
}

.inicio p{
    font-size: 20px;
    letter-spacing: 5px;
}

.inicio .contenedor-botones {
    padding: 30px 0;
    margin-bottom: 30px;
}

.btn {
    background-color: transparent;
    padding: 15px;
    border: 1px solid #2acf7f;
    color: #2acf7f;
    font-weight: bold;
    border-radius: 10px;
    display:inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s;

}

.btn2 {
    background-color: #2acf7f;
    color: #161b22;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 0 20px #91e0ba;
}

.inicio .contenedor-img {
    background: linear-gradient(#2acf7f, transparent);
    max-width: 400px;
    border-radius: 230px 230px 0 0;
}

.inicio .contenedor-img img {
    width: 80%;
    display: block;
    margin: auto;
    padding: 80px 20px 0 40px;
}

.inicio .contenedor-redes {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.inicio .contenedor-redes a{
    display:block;
    color:#2acf7f;
    font-size: 20px;
    margin: 15px 0;
    transition: 0.3s;
}

.inicio .contenedor-redes a:hover i{
    text-shadow: 0 0 20px #91e0ba;
}

/* Menú de navegación */
.navigation {
    width: 400px;
    height: 70px;
    background: #000 ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

}

.navigation ul {
    position:relative;
    padding: 0;
    display: flex;
    width: 350px;
}

.navigation ul li {
    position:relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
}

.navigation ul li a i{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: .5s;
    color: #fff;
}

.navigation ul li.active a i {
    transform: translateY(-35px);
}

.navigation ul li a .text{
    position: absolute;
    color: #3f516f;
    font-size: .75em;
    letter-spacing: .05em;
    transition: .5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
    color: #fff;
}

.indicator {
    background-color: #2acf7f;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -50%;
    border-radius: 50%;;
    border: 6px solid rgba(0,0,0, .8);
    transition: .5s;
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}

/* Sección Sobre mi */
.sobre-mi {
    padding: 50px 0;
}

.titulo-seccion {
    text-align: center;
    color: #2acf7f;
    padding: 60px 0;
}

.sobre-mi .fila {
    display:flex;
    padding: 30px 0;
}

.sobre-mi .fila .col {
    width: 50%;
    margin-left: 20px;
}

.sobre-mi .fila .contenedor-img img {
    width: 350px;
    border: 5px solid #2acf7f
}

.sobre-mi .fila .info .contenedor-boxs {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.sobre-mi .fila .info .contenedor-boxs .box {
    width: 140px;
    height: 140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161b22;
    border-radius: 10px;
    border: 2px solid #2acf7f;
    color: #fff;
    font-weight: bold;
}

.sobre-mi .fila .info .contenedor-boxs .box .num {
    padding: 5px 0;
    font-size: 16px;
    color: #91e0ba;
}

.sobre-mi .fila .info .presentacion {
    color: #fff;
    margin: 30px 0;
    line-height: 25px;
}

/* Sección Experiencia */
.experiencia .fila {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.experiencia .fila .col {
    width: 48%;
    background-color: #161b22;
    border: 1px solid #2acf7f;
    padding: 20px 40px;
}

.experiencia .fila .col h3 {
    color: #91e0ba;
    text-align: center;
    padding: 20px 0;
}

.experiencia .fila .col .info {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.experiencia .fila .col .info .item {
    color: #fff;
    position: relative;
}

.experiencia .fila .col .info .item span {
    display: block;
    margin-left: 25px;
}

.experiencia .fila .col .info .item i {
    position : absolute;
    color: #2acf7f;
    top: 4px;
}

.experiencia .fila .col .info .item .skill {
    font-weight: bold;
}

.experiencia .fila .col .info .item .nivel {
    color: #91e0ba;
    margin-top: 7px;
}

.experiencia .fila .servicio {
    width: 30%;
    background-color: #161b22;
    border: 1px solid #2acf7f;
    border-radius: 0 0 30px 30px;
}

.experiencia .fila .servicio .titulo {
    background-color: #91e0ba;
    text-align: center;
    padding: 30px 0;
    border-radius: 0 0 30px 30px;
}

.experiencia .fila .servicio ul{
    color: #fff;
    padding: 0 20px;
}

.experiencia .fila .servicio ul li {
    margin: 15px; 
    line-height: 25px;;
}

/* Sección Portafolio */
.portafolio .fila {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    grid-gap: 20px;
    
}

.portafolio .fila .item {
    background-color: #161b22;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 30px;
    display: grid;
    grid-template-columns:1fr 1fr;
}

.portafolio .fila .item img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 30px;;
}

.portafolio .fila .item p {
    color: #fff;
    margin: 20px 20px;
}

.portafolio .fila .item .btn {
 align-self: end;
 margin-top:20px;
}

/* Sección Contacto */
.contacto .fila {
    display: flex;
    color: #fff;
}

.contacto .col .item {
    background-color: #161b22;
    padding: 30px 40px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 20px;
}

.contacto .col .item span {
    display: block;
    margin: 7px 0;
}

.contacto .col .item a {
    text-decoration: none;
    color: #91e0ba;
    margin-top: 10px;
    display:inline-block;
}

.contacto .formulario {
    padding-left: 100px;
    width: 100%;
}

.contacto .formulario input, .contacto .formulario textarea {
    display:block;
    background-color: transparent;
    border: 1px solid #2acf7f;
    padding: 25px 20px;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    margin-bottom: 20px;
    outline: none;

}

/* footer */
footer {
    background-color: #3f516f;
    text-align: center;
    padding: 100px 0 120px 0;
    color: #fff;
    margin-top: 0px;
}

footer span {
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: #91e0ba;
    display: inline-block;
    margin: 30px;
}

/* sección responsive */
@media only screen and (max-width:1000px) {
    .contenedor {
        padding: 0 20px;
    }

    .portafolio .fila {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width:800px) {
    .sobre-mi .fila {
        display: block;
    }

    .sobre-mi .fila .col {
        width: 100%;
        margin-bottom: 20px
    }

    .experiencia .fila {
        display:block;
    }

    .experiencia .fila .col {
        width: 100%;
        margin: auto;
    }

    .experiencia .fila .servicio {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .portafolio .fila {
        grid-template-columns: auto;
    }

    .contacto .fila {
        display: block;
    }
    
    .contacto .formulario {
        padding-left: 0;
    }

    footer a {
        display: block;
    }
}